.container,
.title,
.footer {
    background-image: url("../../../assets/image/rick3.webp"); //Imagem de fundo na div secundaria
}
.ngfor {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    width: 100%;
    max-width: 250px;
    height: 300px;
}
.link {
    word-wrap: break-word;
}
