//Todas <li> da pagina
li {
    padding: 8px; //Distancia entre as Linhas
    list-style-type: none; //Retirar Pontinhos que vem com a Lista
}

//Todas <h1> da pagina
h1 {
    background-color: #000000d2;
    border-radius: 50px;
    width: 30%;
    color: #fff;
    font-size: 28px;
    margin-bottom: 2px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly; //Definir alinhamento dos itens que ficarao na linha, No README tem todos
    align-items: center; //Define o comportamento dos elementos, o alinhamento deles de cordo com os outros
}

//Todas <h2> da pagina
h2 {
}

//-------------------------------------------config BOTÃO---------
//Cor e formato de todos os Botões
button {
    background: #069cc2;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
}

//tamanho e distancia entre os botões home,episode e location
.page-home,
.page-location,
.page-episode {
    margin-top: 15px;
    margin-right: 100px;
    width: 100%;
    height: 60%;
}

//Centralização do botao de cima
.header {
    display: flex;
    flex-direction: row; //Determina como os itens sao alinhados no container, horizontal ou vertical
    justify-content: space-evenly; //Definir alinhamento dos itens que ficarao na linha, No README tem todos
    align-items: center; //Define o comportamento dos elementos, o alinhamento deles de cordo com os outros
}

//Config botão de baixo
.page-next,
.page-prev {
    width: 40%;
    height: 60%;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
//-------------------------------------------

//div principal
.base {
    background-color: #000000; //Cor da div Base
}

//div dos botões de cima
.header {
    height: 80px;
}

//div do titulo
.title {
    height: 60px;
}

//Varias divs aqui
.container,
.title,
.footer {
    //config do fundo de todas paginas
    background-size: 100%; //Utilizar 100% da imagem
    background-repeat: no-repeat; //nao repetir imagem
    background-attachment: fixed; // imagem fixa
    background-position: center; // imagem centralizada
    //--------------------------------------------------------
    border: 1px solid rgb(255, 255, 255); //Borda da div
    border-radius: 10px; //Deixar pontas arredondadas
    min-width: 95%; //Aumentar laterias da div Container
    display: flex; //Permite utilizar comandos flex que colocarei logo abaixo
    flex-direction: row; //Determina como os itens sao alinhados no container, horizontal ou vertical
    flex-wrap: wrap; //Quebrar items para a linha seguinte
    justify-content: space-evenly; //Definir alinhamento dos itens que ficarao na linha, No README tem todos
    align-items: stretch; //Define o comportamento dos elementos, o alinhamento deles de cordo com os outros
}

//div do ngFor
.ngfor {
    background-image: none;
    border: 2px solid black;
    margin-top: 20px; // Distanciamento da linha da div de cima
    margin-bottom: 20px; //Distanciamento da linha da div de baixo
    border-radius: 10px; //Deixar pontas arredondadas
}

//div dos botões de baixo
.footer,
.title {
    border-radius: 10px; //Deixar pontas arredondadas
    width: 95%; //Tamanho total
    margin-left: 2.5%; //Distancia da esquerda
}
