//Todas <li> da pagina
li {
    padding-left: 10px;
    padding-top: 5px; //Distancia entre as Linhas cima
    padding-bottom: 5px; //Distancia entre as Linhas baixo
    list-style-type: none; //Retirar Pontinhos que vem com a Lista
}

//Todas <h1> da pagina
h1 {
    background-color: #000000d2;
    border-radius: 50px;
    width: 100%;
    max-width: 500px;
    color: #fff;
    font-size: 26px;
    margin-bottom: 2px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly; //Definir alinhamento dos itens que ficarao na linha, No README tem todos
    align-items: center; //Define o comportamento dos elementos, o alinhamento deles de cordo com os outros
}

//Todas <h2> da pagina
h2 {
    width: 100%;
    max-width: 300px;
    margin-bottom: 0; //distancia entre h2 e texto abaixo
}

//-------------------------------------------config BOTÃO---------
//Cor e formato de todos os Botões
button {
    background: #069cc2;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    border: none;
    font-size: 16px;
}

//-------------------------------------------Retirar depois de colocar footer em html.module
//Config botão de baixo
.page-next,
.page-prev {
    width: 100%;
    max-width: 250px;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
//------------------------------------------------------------------------------

//div principal
.base {
    background-color: #000000de; //Cor da div Base
    margin-top: 50px; //Espaço interno da div
}

//div do titulo
.title {
    height: 60px;
}

//Varias divs aqui
.container,
.title,
.footer {
    //config do fundo de todas paginas
    background-size: 100%; //Utilizar 100% da imagem
    background-repeat: no-repeat; //nao repetir imagem
    background-attachment: fixed; //imagem fixa
    background-position: center; //imagem centralizada
    //--------------------------------------------------------
    border: 1px solid rgb(255, 255, 255); //Borda da div
    border-radius: 10px; //Deixar pontas arredondadas
    min-width: 95%; //Aumentar laterias da div Container
    display: flex; //Permite utilizar comandos flex que colocarei logo abaixo
    flex-direction: row; //Determina como os itens sao alinhados no container, horizontal ou vertical
    flex-wrap: wrap; //Quebrar items para a linha seguinte
    justify-content: space-evenly; //Definir alinhamento dos itens que ficarao na linha, No README tem todos
    align-items: stretch; //Define o comportamento dos elementos, o alinhamento deles de cordo com os outros
}

//div do ngFor
.ngfor {
    background-image: none;
    margin-top: 20px; // Distanciamento da linha da div de cima
    margin-bottom: 20px; //Distanciamento da linha da div de baixo
    border-radius: 10px; //Deixar pontas arredondadas
}

//div dos botões de baixo e do titulo
.footer,
.title {
    border-radius: 10px; //Deixar pontas arredondadas
    width: 95%; //Tamanho total
    margin-left: 2.5%; //Distancia da esquerda
}
