<div class="scroolable">
	<li>
		<h1>
			<strong>{{ charSuccess.name }}</strong>
		</h1>
	</li>
	<li>
		ID: <strong>{{ charSuccess.id }}</strong>
	</li>
	<li>
		Estado: <strong>{{ charSuccess.status }}</strong>
	</li>
	<li>
		Espécie: <strong>{{ charSuccess.species }}</strong>
	</li>
	<li>
		Tipo: <strong>{{ charSuccess.type }}</strong>
	</li>
	<li>
		Gênero: <strong>{{ charSuccess.gender }}</strong>
	</li>
	<li>
		Lugar de Origem:<strong>{{ charSuccess.origin.name }} </strong>
	</li>
	<li>
		Link {{ charSuccess.origin.name }}:
		<strong><a [routerLink]="" (click)="openDialog(charSuccess.origin.url)">{{ charSuccess.origin.url
				}}</a></strong>
	</li>
	<li>
		Localização Atual: <strong>{{ charSuccess.location.name }}</strong>
	</li>
	<li>
		Link {{ charSuccess.location.name }}:
		<strong><a [routerLink]="" (click)="openDialog(charSuccess.location.url)">{{ charSuccess.location.url
				}}</a></strong>
	</li>
	<li>
		Data de Criação: <strong>{{ charSuccess.created | date: 'dd/MM/yyyy' }}</strong>
	</li>
	<li>
		Ep. Participados por {{ charSuccess.name }}:
		<strong><a [routerLink]="" (click)="openList(charSuccess.episode)">LISTA...</a></strong>
	</li>
	<li>
		<img [src]="charSuccess.image" />
	</li>
</div>