<pre>
    {{episodeInfo |  json}}
</pre>

<!-- <div>
    <li>
        <h2>Ep. {{episodeInfo.name}}</h2>
    </li>
    <li><strong>ID: </strong>{{episodeInfo.id}}</li>
    <li><strong>Data de Lançamento: </strong>{{episodeInfo.air_date}}???</li>
    <li><strong>Numero do Ep.: </strong>{{episodeInfo.episode}}</li>
    <p><a href={{episode.characters}}>{{episodeInfo.characters}}</a></p>
    <li class="link"><strong>URL do Ep.: </strong><a (click)="openDialog(episode)"
            href="episode/info">{{episodeInfo.url}}</a>
    </li>
    <li><strong>Data de Criação: </strong>{{episodeInfo.created | date: "dd/MM/yyyy"}}</li>
</div> -->