<div class="base">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="title">
        <h1>Lista de Personagens</h1>
    </div>
    <div class="container">
        <div *ngFor="let character of charSuccess" class="ngfor">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>
                        {{character.name}}
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-subtitle>
                        <b>{{character.status}} - {{character.species}}</b>
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Ultima Localiação: <p><b>{{character.location.name}}</b></p>
                    </mat-card-subtitle>
                    <mat-card-subtitle>Visto pela primeira Vez: <p><b>{{character.gender}}</b></p>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="{{character.image}}">
                </mat-card-title-group>
                <mat-card-content>
                    <button mat-button class="button-mast" (click)="openDialog(character)">Ver Mais...</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="footer">
        <button (click)="pagePrevInfo()" class="page-next">Anterior</button>
        <button (click)="pageNextInfo()" class="page-prev">Proxima</button>
    </div>
    <!-- LOOP Infinito, arrumar -->
    <!-- <app-footer [pageNextInfo]="pageNextInfo()"></app-footer> -->
    <!-- <app-footer [pagePrevInfo]="pagePrevInfo()"></app-footer> -->
</div>