<div class="base">
    <div class="title">
        <h1>Episódios</h1>
    </div>
    <div class="container">
        <div *ngFor="let episode of episodeSuccess" class="ngfor">
            <li>
                <h2>Ep. {{episode.name}}</h2>
            </li>
            <li><strong>ID: </strong>{{episode.id}}</li>
            <li><strong>Data de Lançamento: </strong>{{episode.air_date}}</li>
            <li><strong>Numero do Ep.: </strong>{{episode.episode}}</li>
            <!-- <p><a href={{episode.characters}}>{{episode.characters}}</a></p> -->

            <li class="link"><a href="episode/info"><button (click)="openDialog(episode)">Link</button></a></li>

            <!-- <button (click)="openDialog(episode)"></button> -->

            <li><strong>Data de Criação: </strong>{{episode.created | date: "dd/MM/yyyy"}}</li>
        </div>
    </div>
    <div class="footer">
        <button (click)="pagePrevInfo()" class="page-next">Anterior</button>
        <button (click)="pageNextInfo()" class="page-prev">Proxima</button>
    </div>
</div>